<script src="/hooks/rpi-info/js/rpi.config.js"></script>
<script src="/hooks/rpi-info/js/rpi.service.js"></script>
<script src="/hooks/rpi-info/js/rpi.controller.js"></script>

<div data-ng-controller="rpiCtrl as vm">
  <div class="row" ng-show="!vm.ready">
    <div class="col-centered col-md-6 col-md-offset-6">
      <div class="spinner-box">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="vm.ready" ng-cloak>
    <div class="col-md-12">
      <button class="btn btn-flat btn-primary margin" ng-click="vm.refresh()"><i class="fa fa-refresh"></i> {{
        'REFRESH' |
        translate }}</button>
    </div>
  </div>

  <div class="row" ng-show="vm.ready" ng-cloak>
    <!-- Raspberry Model-->
    <div class="col-centered col-md-4">
      <div class="box box-widget widget-user-2 card grid-item">
        <div class="box-header with-border">
          <h4 class="widget-user-username">{{ 'MATERIEL' | translate }}</h4>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-striped">
            <tbody>
              <th colspan="2">{{ 'MODEL_RASPBERRY' | translate }}</th>
              <tr>
                <td style="vertical-align: middle">{{ 'TYPE_RASPBERRY' | translate }}</td>
                <td style="vertical-align: middle">{{vm.model.full_name}}</td>
              </tr>
              <tr>
                <td style="vertical-align: middle">{{ 'MARKETING_DATE' | translate }}</td>
                <td style="vertical-align: middle">{{vm.model.date}}</td>
              </tr>
              <tr>
                <td style="vertical-align: middle">{{ 'TOTAL_MEMORY' | translate }}</td>
                <td style="vertical-align: middle">{{vm.model.memory}} Mo</td>
              </tr>
              <tr>
                <td style="vertical-align: middle;padding-left:2em">{{ 'CPU_MEMORY' | translate }}</td>
                <td style="vertical-align: middle">{{vm.memory.cpu}} Mo</td>
              </tr>
              <tr>
                <td style="vertical-align: middle;padding-left:2em">{{ 'GPU_MEMORY' | translate }}</td>
                <td style="vertical-align: middle">{{vm.memory.gpu}} Mo</td>
              </tr>
              <tr>
                <td style="vertical-align: middle">{{ 'COMMENT' | translate }}</td>
                <td style="vertical-align: middle">{{vm.model.notes}}</td>
              </tr>
              <th colspan="2">{{ 'PROCESSOR' | translate }}</th>
              <tr>
                <td style="vertical-align: middle">{{ 'MODEL_PROCESSOR' | translate }}</td>
                <td style="vertical-align: middle">{{vm.core.model}}</td>
              </tr>
              <tr>
                <td style="vertical-align: middle">{{ 'CORE_NUMBER' | translate }}</td>
                <td style="vertical-align: middle">{{vm.core.count}}</td>
              </tr>
              <tr>
                <td style="vertical-align: middle">{{ 'FREQUENCY_PROCESSOR' | translate }}</td>
                <td style="vertical-align: middle">{{vm.core.frequency}} MHz</td>
              </tr>
              <tr>
                <td style="vertical-align: middle">{{ 'VOLTAGE_PROCESSOR' | translate }}</td>
                <td style="vertical-align: middle">{{vm.core.voltage}} V</td>
              </tr>
              <tr>
                <td colspan="2" style="vertical-align: middle">{{ 'TEMPERATURE' | translate }}</td>
              </tr>
              <tr>
                  <td style="padding-left:2em">{{ 'TEMPERATURE_CPU' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.core.temp_cpu}} °C</td>
              </tr>
              <tr>
                  <tr>
                      <td style="padding-left:2em">{{ 'TEMPERATURE_GPU' | translate }}</td>
                      <td style="vertical-align: middle">{{vm.core.temp_gpu}} °C</td>
                  </tr>
                  <tr>
                <td style="vertical-align: middle">{{ 'SERIAL_PROCESSOR' | translate }}</td>
                <td style="vertical-align: middle">{{vm.core.serial}}</td>
              </tr>
              <tr>
                <td style="vertical-align: middle">{{ 'REVISION_PROCESSOR' | translate }}</td>
                <td style="vertical-align: middle">{{vm.core.revision}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End Raspberry Model-->

    <!-- System -->
    <div class="col-centered col-md-4">
        <div class="box box-widget widget-user-2 card grid-item">
            <div class="box-header with-border">
              <h4 class="widget-user-username">{{ 'SYSTEME' | translate }}</h4>
            </div>
        <div class="box-body table-responsive">
          <table class="table table-striped">
            <tbody>
              <th colspan="2">{{ 'OS' | translate }}</th>
              <tr>
                <td style="vertical-align: middle">{{ 'TYPE_OS' | translate }}</td>
                <td style="vertical-align: middle">{{vm.system.os}}</td>
              </tr>
              <tr>
                <td style="vertical-align: middle">{{ 'RELEASE_OS' | translate }}</td>
                <td style="vertical-align: middle">{{vm.system.release}}</td>
              </tr>
              <th colspan="2">{{ 'NETWORK' | translate }}</th>
              <tr>
                <td style="vertical-align: middle">{{ 'HOSTNAME' | translate }}</td>
                <td style="vertical-align: middle">{{vm.network.hostname}}</td>
              </tr>
              <tr>
                <td colspan="2" style="vertical-align: middle">{{ 'LOCAL_IP' | translate }}</td>
              </tr>
              <tr ng-repeat="face in vm.network.ipLocal">
                <td style="padding-left:2em">
                  {{face.name}}
                </td>
                <td>
                  {{face.address}}
                </td>
              <tr>
                <td style="vertical-align: middle">{{ 'EXTERNAL_IP' | translate }}</td>
                <td style="vertical-align: middle">{{vm.network.ipExterne}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- End Raspberry Model-->



  </div>
  <!-- row -->
  <div class="modal fade alexa-help" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div>
            {{ 'ALEXA_TEXT_1' | translate }}<br />
            {{ 'ALEXA_TEXT_2' | translate }}<br />
            {{ 'ALEXA_TEXT_3' | translate }}<br />
            {{ 'ALEXA_TEXT_4' | translate }}<br />
            {{ 'ALEXA_TEXT_5' | translate }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>