<script src="/hooks/rpi-info/js/rpi.config.js"></script>
<script src="/hooks/rpi-info/js/rpi.service.js"></script>
<script src="/hooks/rpi-info/js/rpi.controller.js"></script>

<div data-ng-controller="rpiCtrl as vm">
  <div class="container-fluid">
    <div class="row" ng-show="!vm.ready">
      <div class="col-centered col-md-6 col-md-offset-6">
        <div class="spinner-box">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" ng-show="vm.ready" ng-cloak>

      <!-- Raspberry-->
      <div class="col-centered col-md-4">
        <div class="box box-widget widget-user-2 card grid-item">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs active">
              <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true">{{ 'MATERIEL' | translate }}</a></li>
              <li><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">{{ 'SYSTEME' | translate }}</a></li>
              <li class="pull-right"><a href="" onmouseover="this.style.color='#000000'" onmouseout="this.style.color='';" class="text-muted" data-toggle="tooltip" data-original-title="{{ 'REFRESH' | translate }}">
                <i class="fa fa-refresh" ng-click="vm.refresh()"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1-1">

                <div class="box-body table-responsive">
                  <table class="table table-striped">
                    <tbody>
                      <th colspan="2">{{ 'MODEL_RASPBERRY' | translate }}</th>
                      <tr>
                        <td style="vertical-align: middle">{{ 'TYPE_RASPBERRY' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.model.full_name}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'MARKETING_DATE' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.model.date}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'TOTAL_MEMORY' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.model.memory}} Mo</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;padding-left:2em">{{ 'CPU_MEMORY' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.memory.cpu}} Mo</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;padding-left:2em">{{ 'GPU_MEMORY' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.memory.gpu}} Mo</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'COMMENT' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.model.notes}}</td>
                      </tr>
                      <th colspan="2">{{ 'PROCESSOR' | translate }}</th>
                      <tr>
                        <td style="vertical-align: middle">{{ 'MODEL_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.model}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'CORE_NUMBER' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.count}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'FREQUENCY_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.frequency}} MHz</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'VOLTAGE_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.voltage}} V</td>
                      </tr>
                      <tr>
                        <td colspan="2" style="vertical-align: middle">{{ 'TEMPERATURE' | translate }}</td>
                      </tr>
                      <tr>
                        <td style="padding-left:2em">{{ 'TEMPERATURE_CPU' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.temp_cpu}} °C</td>
                      </tr>
                      <tr>
                      <tr>
                        <td style="padding-left:2em">{{ 'TEMPERATURE_GPU' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.temp_gpu}} °C</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'SERIAL_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.serial}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'REVISION_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.revision}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="tab_2-2">
                <div class="box-body table-responsive">
                  <table class="table table-striped">
                    <tbody>
                      <th colspan="2">{{ 'OS' | translate }}</th>
                      <tr>
                        <td style="vertical-align: middle">{{ 'TYPE_OS' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.system.os}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'RELEASE_OS' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.system.release}}</td>
                      </tr>
                      <th colspan="2">{{ 'NETWORK' | translate }}</th>
                      <tr>
                        <td style="vertical-align: middle">{{ 'HOSTNAME' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.network.hostname}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" style="vertical-align: middle">{{ 'LOCAL_IP' | translate }}</td>
                      </tr>
                      <tr ng-repeat="face in vm.network.ip_local">
                        <td style="padding-left:2em">
                          {{face.name}}
                        </td>
                        <td>
                          {{face.address}}
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'EXTERNAL_IP' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.network.ip_externe}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Raspberry-->

      <!-- statistics Memory-->
      <div class="col-centered col-md-4">
        <div class="box box-solid">
          <h4 style="background-color:#f7f7f7; text-align: center; padding: 7px 10px; margin-top: 0;">
            {{ 'STATISTICS_MEMORY' | translate }}
          </h4>
          <div class="box-body table-responsive">
            <table class="table table-condensed">
              <tbody>
                <th colspan="2">{{ 'DISK' | translate }}</th>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DISK_SIZE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.disk.total}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DISK_USED' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.disk.used}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DISK_FREE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.disk.free}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DISK_PERCENT' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.disk.per_cent}}</td>
                </tr>

                <th colspan="2">{{ 'MEMORY_RAM' | translate }}</th>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RAM_SIZE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.MemTotal}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RAM_FREE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.MemFree}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RAM_BUFFERS' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.Buffers}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RAM_CACHED' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.Cached}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle">{{ 'MEMORY_AVAILABLE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.MemAvailable}}</td>
                </tr>
                <th colspan="2">{{ 'MEMORY_SWAP' | translate }}</th>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'SWAP_SIZE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.SwapTotal}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'SWAP_CACHED' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.SwapCached}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'SWAP_FREE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.SwapFree}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Statistics Memory-->

      <!--Statistics Network-->
      <div class="col-centered col-md-4 align-self-start">
        <div class="box box-solid">
          <h4 style="background-color:#f7f7f7; text-align: center; padding: 7px 10px; margin-top: 0;">
            {{ 'STATISTICS_NETWORK' | translate }}
          </h4>
          <div class="box-body table-responsive">
            <table class="table table-condensed">
              <tbody ng-repeat="face in vm.stat.net">
                <tr>
                  <th colspan="2">
                    {{face.face}}
                  </th>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'TRANSMIS' | translate }}</td>
                  <td style="vertical-align: middle">{{face.transmit}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RECEIVED' | translate }}</td>
                  <td style="vertical-align: middle">{{face.received}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'ERROR_TX' | translate }}</td>
                  <td style="vertical-align: middle">{{face.errorTx}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'ERROR_RX' | translate }}</td>
                  <td style="vertical-align: middle">{{face.errorRx}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'COLLISION_TX' | translate }}</td>
                  <td style="vertical-align: middle">{{face.collisionsTx}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DROPPED_RX' | translate }}</td>
                  <td style="vertical-align: middle">{{face.droppedRx}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Statistics Network-->

    </div>
  </div>
  <!-- row -->
  <div class="modal fade alexa-help" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div>
            {{ 'ALEXA_TEXT_1' | translate }}<br />
            {{ 'ALEXA_TEXT_2' | translate }}<br />
            {{ 'ALEXA_TEXT_3' | translate }}<br />
            {{ 'ALEXA_TEXT_4' | translate }}<br />
            {{ 'ALEXA_TEXT_5' | translate }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>