<script src="/hooks/rpi-info/js/rpi.config.js"></script>
<script src="/hooks/rpi-info/js/rpi.service.js"></script>
<script src="/hooks/rpi-info/js/rpi.controller.js"></script>

<div data-ng-controller="rpiCtrl as vm">
  <div class="container-fluid">
    <div class="row" ng-show="!vm.ready">
      <div class="col-centered">
        <div class="spinner-box">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" ng-show="vm.ready" ng-cloak>

      <!-- Raspberry-->
      <div class="col-centered col-md-4">
        <div class="box box-widget widget-user-2 card grid-item">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs active">
              <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true">{{ 'MATERIEL' | translate }}</a></li>
              <li><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">{{ 'SYSTEME' | translate }}</a></li>
              <li><a href="#tab_3-3" data-toggle="tab" aria-expanded="false">{{ 'SECURITY' | translate }}</a></li>
              <li class="pull-right"><a href="" onmouseover="this.style.color='#000000'" onmouseout="this.style.color='';" class="text-muted" data-toggle="tooltip" data-original-title="{{ 'REFRESH' | translate }}">
                  <i class="fa fa-refresh" ng-click="vm.refresh()"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1-1">
                <div class="box-body table-responsive">
                  <table class="table table-condensed">
                    <tbody>
                      <th colspan="2">{{ 'MODEL_RASPBERRY' | translate }}</th>
                      <tr>
                        <td style="vertical-align: middle">{{ 'TYPE_RASPBERRY' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.model.full_name}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'MARKETING_DATE' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.model.date}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'TOTAL_MEMORY' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.model.memory}} Mo</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;padding-left:2em">{{ 'CPU_MEMORY' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.memory.cpu}} Mo</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle;padding-left:2em">{{ 'GPU_MEMORY' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.memory.gpu}} Mo</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'COMMENT' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.model.notes}}</td>
                      </tr>
                      <th colspan="2">{{ 'PROCESSOR' | translate }}</th>
                      <tr>
                        <td style="vertical-align: middle">{{ 'MODEL_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.model}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'CORE_NUMBER' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.count}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'FREQUENCY_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.frequency}} MHz</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'VOLTAGE_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.voltage}} V</td>
                      </tr>
                      <tr>
                        <td colspan="2" style="vertical-align: middle">{{ 'TEMPERATURE' | translate }}</td>
                      </tr>
                      <tr>
                        <td style="padding-left:2em">{{ 'TEMPERATURE_CPU' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.temp_cpu}} °C</td>
                      </tr>
                      <tr>
                      <tr>
                        <td style="padding-left:2em">{{ 'TEMPERATURE_GPU' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.temp_gpu}} °C</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'SERIAL_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.serial}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'REVISION_PROCESSOR' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.core.revision}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="box-footer">
                  <button class="btn btn-flat btn-primary" data-toggle="modal" data-target=".rpi-usb-device">
                    {{ 'DEVICE_USB_LIST' | translate }}</button>
                </div>
                <div>
                  <h4>{{ 'UPTIME' | translate }}</h4>
                </div>
                <div>{{vm.stat.uptime.total}}</div>
                <div>
                  <h4>{{ 'RASPBERRY_TIME' | translate }}</h4>
                </div>
                <div>{{vm.stat.uptime.gdh}}</div>
              </div>
              <div class="tab-pane" id="tab_2-2">
                <div class="box-body table-responsive">
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <th colspan="2">{{ 'OS' | translate }}</th>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'TYPE_OS' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.system.os}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'RELEASE_OS' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.system.release}}</td>
                      </tr>
                      <th colspan="2">{{ 'NETWORK' | translate }}</th>
                      <tr>
                        <td style="vertical-align: middle">{{ 'HOSTNAME' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.network.hostname}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" style="vertical-align: middle">{{ 'LOCAL_IP' | translate }}</td>
                      </tr>
                      <tr ng-repeat="face in vm.network.ip_local">
                        <td style="padding-left:2em">
                          {{face.name}}
                        </td>
                        <td>
                          {{face.address}}
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'EXTERNAL_IP' | translate }}</td>
                        <td style="vertical-align: middle">{{vm.network.ip_externe}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="box-footer">
                  <button class="btn btn-flat btn-primary" data-toggle="modal" data-target=".rpi-command" ng-click="vm.returnCommand=''">
                    <i class="fa fa-file-text"></i> {{ 'BASH_COMMAND' | translate }}</button>
                </div>
              </div>
              <div class="tab-pane active" id="tab_3-3">
                <div class="box-body table-responsive">
                  <h4 style="background-color:#f7f7f7; text-align: center; padding: 7px 10px; margin-top: 0;">
                    {{ 'ACTIVE_CONNEXION' | translate }}
                  </h4>
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <th style="vertical-align: middle;text-align:center">{{ 'IP_LOCAL' | translate }}</th>
                        <th style="vertical-align: middle;text-align:center">{{ 'PEER_IP' | translate }}</th>
                      </tr>
                      <tr ng-repeat="connexion in vm.stat.connexion">
                        <td style="vertical-align: middle">{{connexion.local}}</td>
                        <td style="vertical-align: middle">{{connexion.peer}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="box-footer">
                  <button class="btn btn-flat btn-primary" data-toggle="modal" data-target=".rpi-last-connexion">
                    {{ 'LAST_CONNEXION' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Raspberry-->

      <!-- statistics Memory-->
      <div class="col-centered col-md-4">
        <div class="box box-solid">
          <h4 style="background-color:#f7f7f7; text-align: center; padding: 7px 10px; margin-top: 0;">
            {{ 'STATISTICS_MEMORY' | translate }}
          </h4>
          <div class="box-body table-responsive">
            <table class="table table-condensed">
              <tbody>
                <th colspan="2">{{ 'DISK' | translate }}</th>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DISK_SIZE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.disk.total}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DISK_USED' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.disk.used}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DISK_FREE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.disk.free}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DISK_PERCENT' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.disk.per_cent}}</td>
                </tr>

                <th colspan="2">{{ 'MEMORY_RAM' | translate }}</th>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RAM_SIZE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.MemTotal}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RAM_FREE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.MemFree}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RAM_BUFFERS' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.Buffers}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RAM_CACHED' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.Cached}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'MEMORY_AVAILABLE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.MemAvailable}}</td>
                </tr>
                <th colspan="2">{{ 'MEMORY_SWAP' | translate }}</th>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'SWAP_SIZE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.SwapTotal}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'SWAP_CACHED' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.SwapCached}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'SWAP_FREE' | translate }}</td>
                  <td style="vertical-align: middle">{{vm.stat.memory.SwapFree}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Statistics Memory-->

      <!--Statistics Network-->
      <div class="col-centered col-md-4 align-self-start">
        <div class="box box-solid">
          <h4 style="background-color:#f7f7f7; text-align: center; padding: 7px 10px; margin-top: 0;">
            {{ 'STATISTICS_NETWORK' | translate }}
          </h4>
          <div class="box-body table-responsive">
            <table class="table table-condensed">
              <tbody ng-repeat="face in vm.stat.net">
                <tr>
                  <th colspan="2">
                    {{face.face}}
                  </th>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'TRANSMIS' | translate }}</td>
                  <td style="vertical-align: middle">{{face.transmit}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'RECEIVED' | translate }}</td>
                  <td style="vertical-align: middle">{{face.received}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'ERROR_TX' | translate }}</td>
                  <td style="vertical-align: middle">{{face.errorTx}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'ERROR_RX' | translate }}</td>
                  <td style="vertical-align: middle">{{face.errorRx}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'COLLISION_TX' | translate }}</td>
                  <td style="vertical-align: middle">{{face.collisionsTx}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'DROPPED_RX' | translate }}</td>
                  <td style="vertical-align: middle">{{face.droppedRx}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="box box-solid" ng-show="vm.stat.wifi">
          <h4 style="background-color:#f7f7f7; text-align: center; padding: 7px 10px; margin-top: 0;">
            {{ 'STATISTICS_WIFI' | translate }}
          </h4>
          <div class="box-body table-responsive">
            <table class="table table-condensed">
              <tbody ng-repeat="face in vm.stat.wifi">
                <th colspan="2">{{face.interface}}</th>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'WIFI_FREQUENCY' | translate }}</td>
                  <td style="vertical-align: middle">{{face.frequency}} GHz</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'WIFI_SSID' | translate }}</td>
                  <td style="vertical-align: middle">{{face.ssid}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'WIFI_IEEE' | translate }}</td>
                  <td style="vertical-align: middle">{{face.ieee}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'WIFI_QUALITY' | translate }}</td>
                  <td style="vertical-align: middle">{{face.quality}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'WIFI_SIGNAL' | translate }}</td>
                  <td style="vertical-align: middle">{{face.signal}} dBm</td>
                </tr>
                <tr>
                  <td style="vertical-align: middle;padding-left:2em">{{ 'WIFI_BITRATE' | translate }}</td>
                  <td style="vertical-align: middle">{{face.bitrate}} MB/s</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Statistics Network-->
    </div>
  </div>
  <!-- row -->

  <!--Command bash modal-->
  <div class="modal fade rpi-command" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">{{ 'BASH_COMMAND' | translate }}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="alert alert-danger alert-dismissible">
              {{ 'TEXT_1_COMMAND' | translate }}<br />
              {{ 'TEXT_2_COMMAND' | translate }}<br />
              {{ 'TEXT_3_COMMAND' | translate }}
            </div>
            <label>{{ 'COMMAND_TO_SEND' | translate }}</label>
            <div class="input-group input-group-sm">

              <input type="text" class="form-control" id="textCommand" ng-model="vm.commandToSend">
              <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-flat" ng-click="vm.sendCommand(vm.commandToSend);vm.commandToSend=''">{{ 'EXECUTE' | translate }}</button>
              </span>
            </div>
          </div>
          <label>{{ 'COMMAND_ANSWER' | translate }}</label>
          <div style="position:relative">
            <div ng-show="!vm.readyCommand" style="position:absolute; width:100%" class="container-fluid">
              <div class="row">
                <div class="col-centered">
                  <div class="spinner-box">
                    <div class="spinner">
                      <div class="double-bounce1"></div>
                      <div class="double-bounce2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <pre style="height:370px"><code id="returnCommand">{{vm.returnCommand}}</code></pre>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" ng-click="vm.returnCommand=''">{{ 'CLEAR' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <!--End command bash modal-->

  <!--USB devices list-->
  <div class="modal fade rpi-usb-device" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">{{ 'DEVICE_USB_LIST' | translate }}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-centered col-md-6 align-self-start" ng-repeat="device in vm.stat.usb">
              <div class="box box-solid">
                <div class="box-body table-responsive">
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <th colspan="2">
                          {{ 'DEVICE_PORT_NAME' | translate }} : {{device.devname}}
                        </th>
                      </tr>
                      <tr ng-show="device.devtype">
                        <td style="vertical-align: middle">{{ 'DEVICE_TYPE' | translate }}</td>
                        <td style="vertical-align: middle">{{device.devtype}}</td>
                      </tr>
                      <tr ng-show="device.class">
                        <td style="vertical-align: middle">{{ 'DEVICE_CLASS' | translate }}</td>
                        <td style="vertical-align: middle">{{device.class}}</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'DEVICE_SERIAL' | translate }}</td>
                        <td style="vertical-align: middle"><span>{{device.serial_short ? device.serial_short : device.serial}}</span></td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'DEVICE_MODEL' | translate }}</td>
                        <td style="vertical-align: middle"><span>{{device.model ? device.model : device.model_enc}}</span></td>
                      </tr>
                      <tr>
                        <td style="vertical-align: middle">{{ 'DEVICE_VENDOR' | translate }}</td>
                        <td style="vertical-align: middle"><span>{{device.vendor_from_db ? device.vendor_from_db : device.vendor}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End USB devices list-->

  <!--last connexion list-->
  <div class="modal fade rpi-last-connexion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">{{ 'LAST_CONNEXION' | translate }}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-centered align-self-start">
              <div class="box box-solid">
                <div class="box-body table-responsive">
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <th style="text-align:center">
                          {{ 'USER_NAME' | translate }}
                        </th>
                        <th style="text-align:center">
                          {{ 'FROM_IP' | translate }}
                        </th >
                        <th style="text-align:center">
                          {{ 'STATUS_CONNEXION' | translate }}
                        </th>
                      </tr>
                      <tr ng-repeat="con in vm.stat.last">
                        <td style="vertical-align: middle;text-align:center">{{con.user}}</td>
                        <td style="vertical-align: middle;text-align:center">{{con.fromip}}</td>
                        <td style="vertical-align: middle">{{con.info}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End last connexion list-->

</div>