<!-- box-->
<script src="/hooks/rpi-info/js/justgage.js"></script>
<script src="/hooks/rpi-info/js/raphael-2.1.4.min.js"></script>
<script src="/hooks/rpi-info/js/rpi.box.controller.js"></script>
<script src="/hooks/rpi-info/js/rpi.config.js"></script>

<div class="box box-primary" data-ng-controller="rpiboxCtrl as vm" ng-init="vm.init(<%= boxId %>);">

  <div class="box-header with-border">
    <i class="fa fa-heartbeat"></i>
    <h3 class="box-title">Raspberry monitoring</h3>
    <i class="close fa fa-gear" data-toggle="collapse" href="#listPort" aria-expanded="true"></i>
  </div>
  <div id="listPort" class="panel-collapse collapse" aria-expanded="true">
    <div class="box-body">
      <label>{{ 'LISTENING_PORT' | translate }}</label>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" ng-model="vm.listPort" class="text-muted" data-toggle="tooltip" data-original-title="{{ 'LIST_PORT_HELP' | translate }}">
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-flat" ng-click="vm.saveParam()" data-toggle="collapse" href="#listPort" aria-expanded="true"><i class="fa fa-refresh"></i></button>
        </span>
      </div>
    </div>
    <div class="box-footer">
    </div>
  </div>
  <div class="box-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <div class="container-fluid" ng-show="vm.socketCpuIsBusy" class="ng-cloak">
            <div class="row">
              <div class="col-centered">
                <div class="spinner-box">
                  <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid" ng-show="!vm.socketCpuIsBusy" class="ng-cloak">
            <div class="row">
              <div class="col-xs-6">
                <div id="tempCpuGauge"></div>
              </div>
              <div class="col-xs-6">
                <div id="voltageCpuGauge"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div id="chargeCpuGauge"></div>
              </div>
              <div class="col-xs-6">
                <div id="ramGauge"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <div class="container-fluid" ng-show="vm.socketPortIsBusy" class="ng-cloak">
            <div class="row">
              <div class="col-centered">
                <div class="spinner-box">
                  <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-condensed" ng-show="!vm.socketPortIsBusy">
            <tr>
              <th colspan="2">
                {{ 'LISTENING_PORT' | translate }}
              </th>
            </tr>
            <tr ng-repeat="(port, status) in vm.port">
              <td>{{port}}</td>
              <td><i ng-class="status ? 'fa fa-check text-green':'fa fa-times-circle-o text-red'"></i></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>